.user-management__content{
  padding: 20px;
  background: $white;
  box-shadow: 0px 23px 44px rgba(176, 183, 195, 0.14);
  border-radius: 8px;
  min-height: 969px;
}

.user-management__table{
  width: 100%;
  overflow-x: auto;
}
.client-info .client-text p {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #84818A;
  margin-bottom: 0;
}
.user-management__table table{
  width: 100%;
  thead th{
      padding: 8px 12px;
      font-family: $dmsansFont;
      font-weight: 700;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #171717;
  }
  tbody td{
      padding: 15px 12px;
      border-bottom: 1px solid $borderColor;
  }
  thead th,
  tbody td{
      &:nth-child(1){
          padding-left: 35px;
          min-width: 200px;
      }
      &:nth-child(2){min-width: 100px;}
      &:nth-child(3){min-width: 180px;}
      &:nth-child(4){min-width: 150px;}
      &:nth-child(5){min-width: 200px;}
      &:nth-child(6){min-width: 180px;}
  }
}

.user-management__table table{
  .company-name,
  .address,
  .phone,
  .assign-team{
      font-family: $dmsansFont;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: $titleColor;
  }
  .phone i{
      color: $textColor;
      margin-right: 4px;
  }
}

.assign-team{
  padding-left: 15px;
  position: relative;
  &::before{
      position: absolute;
      content: "";
      top: 50%;
      left: 0;
      transform:  translateY(-50%);
      width: 7px;
      height: 7px;
  }
  &.hr::before{background-color: #00A5FF;}
  &.sales::before{background-color: #FF6628;}
}