//solid color
$white: #fff;
$black: #000;
$green: #00BE4C;
$red: #ff0000;
$blue: #0000ff;
$gray: #b6b4ba;

//body color
$bodyColor: #2c3e50;

//theme color
$themeColor: #00a5ff;

//nav link color
$themeColor: #55B4E4;
$titleLightColor: #808191;
$titleColor: #2E2C34;
$titleBlackColor: #171717;
$titleGrayColor: #939292;
$titleBlueColor: #4E88F7;
$textColor: #84818A;

//background color
$bgBodyColor: #F4F5F7;
$borderColor: #EDEDED;
$bgSidebarColor: #121332;

$boxShadow: #B0B7C324; 