
.change__password{
  margin-top: 91px;
  h2{
      text-align: center;
      font-family: $manropeFont;
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      color: $titleColor;
      margin-bottom: 53px;
  }
  &__button{
      margin-top: 42px;
  }
  @include breakpoint(767px){
      padding: 0 40px;
  }
  @include breakpoint(480px){
      padding: 0 20px;
      h2{
          font-size: 28px;
      }
  }
}

.change__password__input{
  position: relative;
  #password-visibility{
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      cursor: pointer;
  }
  input{
      width: 100%;
      padding-top: 20px;
      background-color: transparent;
      border: 0;
      border-bottom: 1px solid $borderColor;
      font-family: $manropeFont;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: $titleColor;
      &:focus{
          border-bottom: 1px solid $themeColor;
      }
  }
}